:root {
  --branding-font-family: "Raleway", sans-serif;
  --primary-color: #ff908b;
  --secondary-color: #ed2647;
  --tertiary-color: #f9d8d6;
  --flower-background: url("/images/bg-image.jpg");
}

body {
  font-family: var(--branding-font-family);
  background: var(--tertiary-color);
}

h1 {
  font-size: 60px;
  font-weight: bold;
  color: var(--secondary-color);
}

#homepage-background {
  background: var(--flower-background);
}

/* Navigation header */

#navbarNav {
  justify-content: end;
  padding: 0 50px;
}

.navbar {
  padding: 0;
}

.navigation {
  background-color: var(--primary-color);
}

.nav-item {
  padding: 0 50px;
  font-size: 20px;
  font-weight: 500;
}

.nav-link:hover {
  color: var(--secondary-color);
  transition: all 100ms ease-in-out;
}

.nav-item.active a {
  color: var(--secondary-color);
}

.logo-image {
  width: 200px;
}

/* Homepage - main content */

.main-content {
  margin-top: 100px;
  padding: 0 50px;
  background-color: var(--tertiary-color);
  opacity: 0.8;
}
.heading {
  margin-top: 180px;
  padding: 30px;
}

.quote-container {
  margin-bottom: 100px;
}

.quote-text {
  font-weight: 400;
  font-style: italic;
}

.quote-author {
  font-size: 18px;
}

.btn {
  padding: 15px 30px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: #ff7a74;
  line-height: 1;
  border-radius: 4px;
  font-weight: bold;
  font-size: 18px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.btn:hover,
.btn:active {
  background-color: #ff7a74 !important;
  color: var(--secondary-color) !important;
  transition: all 100ms ease-in-out;
}

/* Flower profile page */

h3 {
  color: var(--secondary-color);
}

.flower-profile-container {
  margin: 200px auto;
}

.flower-text {
  padding-left: 30px;
}

.flower-text p {
  text-align: justify;
}
.flower-profile-btn {
  padding: 12px 24px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: #ff7a74;
  line-height: 1;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* Contact page */

h2 {
  margin-top: 180px;
  color: var(--secondary-color);
  font-size: 48px;
  padding: 0 200px;
}

.contact-container {
  padding: 0 200px;
}

.contact-page-email {
  font-size: 24px;
  color: var(--secondary-color);
  text-decoration: none;
}

.contact-page-social-icons {
  font-size: 32px;
  padding: 0 15px 0 0;
  color: var(--secondary-color);
}

/* Footer */

footer {
  text-align: center;
  background-color: var(--primary-color);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
}

.footer-links,
.footer-links a {
  color: black;
  opacity: 0.9;
  font-size: 18px;
  text-decoration: none;
}

.footer-links a:hover {
  color: var(--secondary-color);
  transition: all 100ms ease-in-out;
}

.social-icons a {
  padding: 0 10px;
}

.github-link {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  h1 {
    font-size: 40px;
  }

  h2,
  .contact-container {
    padding: 0 20px;
  }

  h3 {
    font-size: 18px;
  }

  .heading {
    padding: 20px 0 0 0;
  }

  .logo-image {
    width: 120px;
  }

  .flower-profile-container {
    padding: 0 30px;
    margin: 120px auto;
  }

  .flower-text {
    font-size: 14px;
    margin: 20px auto 0px;
    padding: 18px 12px;
  }

  .footer {
    height: 150px;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .footer-links a,
  .github-link {
    font-size: 14px;
  }
}
